@using SAIMLTD.Models.Entity;
@{
    ViewBag.Title = "Nos clients";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <strong class="card-title">Liste des clients (@ViewBag.nombre)</strong>
            <button id="export" class="btn btn-primary">Exporter</button>
        </div>
        <div class="card-body">
            <table id="bootstrap-data-table" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Nom de la société</th>
                        <th>Adresse</th>
                        <th>Contact(s)</th>
                        <th style="min-width: 120px;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (ViewBag.clients != null)
                        {
                            List<Client> clients = ViewBag.clients as List<Client>;
                            foreach (Client client in clients)
                            {
                                <tr>
                                    <td>@client.GetDenomination()</td>
                                    <td>@client.GetAdresse()</td>
                                    <td>
                                        @(client.GetMail())
                                        <br />
                                        @client.GetTelephone()
                                    </td>
                                    <td>
                                        <span><a href="/customer/viewcustomer?idcustomer=@client.GetId()"><i class="fa fa-eye"></i></a> &nbsp;&nbsp;&nbsp; <a href="/customer/edit?idcustomer=@client.GetId()"><i class="fa fa-edit"></i></a> &nbsp;&nbsp;&nbsp; <span style="color: red; cursor: pointer;"><i class="fa fa-trash" onclick="delete_client(@client.GetId())"></i></span></span>
                                    </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
            @if (ViewBag.pagination != null)
            {
                <ul class="pagination justify-content-center" style="margin:20px 0">
                    @(new HtmlString(ViewBag.pagination))
                </ul>
            }
        </div>
    </div>
</div>

<script type="text/javascript">
    function delete_client(id) {
        var r = confirm("Voulez vous supprimer ce client?!");
        if (r == true) {
            window.location.href = '/customer/delete?idcustomer=' + id;
        } else {
            
        }
    }
</script>