@using SAIMLTD.Models.Entity

@{
    ViewBag.Title = "Editer le client";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ 
    Client client = ViewBag.societe as Client;
    if (client != null) {
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                Editer les informations de: <strong>@client.GetDenomination()</strong>
            </div>
            <div class="card-body card-block">
                <form action="/customer/update" method="post" enctype="multipart/form-data" class="form-horizontal">
                    <input type="hidden" id="text-input" name="id" value="@client.GetId()" class="form-control">
                    <div class="row form-group">
                        <div class="col col-md-3"><label for="text-input" class="" form-control-label">Denomination</label></div>
                        <div class="col-12 col-md-9"><input type="text" id="text-input" name="denomination" value="@client.GetDenomination()" class="form-control"></div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label for="text-input" class="" form-control-label">Adresse</label></div>
                        <div class="col-12 col-md-9"><input type="text" id="text-input" name="adresse" value="@client.GetAdresse()" class="form-control"></div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label for="text-input" class="" form-control-label">Téléphone</label></div>
                        <div class="col-12 col-md-9"><input type="text" id="text-input" name="telephone" value="@client.GetTelephone()" class="form-control"></div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label for="text-input" class="" form-control-label">Mail</label></div>
                        <div class="col-12 col-md-9"><input type="text" id="text-input" name="mail" value="@client.GetMail()" class="form-control"></div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label for="text-input" class="" form-control-label">SIREN</label></div>
                        <div class="col-12 col-md-9"><input type="text" id="text-input" name="siren" value="@client.GetSiren()" class="form-control"></div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label for="text-input" class="" form-control-label">Activité</label></div>
                        <div class="col-12 col-md-9"><input type="text" id="text-input" name="activite" value="@client.GetActivite()" class="form-control"></div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label for="text-input" class="" form-control-label">Capital</label></div>
                        <div class="col-12 col-md-9"><input type="text" id="text-input" name="capital" value="@client.GetCapital()" class="form-control"></div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label for="text-input" class="" form-control-label">Forme juridique</label></div>
                        <div class="col-12 col-md-9"><input type="text" id="text-input" name="forme_juridique" value="@client.GetFormeJuridique()" class="form-control"></div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary btn-sm" style="cursor: pointer;">
                            <i class="fa fa-dot-circle-o"></i> Valider
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    }
    else
    {
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    Non disponible!
                </div>
                <div class="card-body card-block">Aucune information à afficher dans cette page!</div>
            </div>
        </div>
    }
}